<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="css\styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="bodyStyle">
    <div class="container pt-4 text-center">
        <form method="post" action="/index">
            <div>
                <img src="img\logo.png" class="img-fluid">
            </div>
            <div class="p-4">
                <h1>Welcome to Emerging Technologies Class</h1>
            </div>
            <table class="width100">
                <tr>
                    <td class="p-2"> <a href="/signup" class="btn btn-lg btn-primary">Sign Up as Student</a> </td>
                </tr>
                <tr>
                    <td class="p-2"><a href="/signin" class="btn btn-lg btn-primary">Sign In as Student</a></td>
                </tr>
                <tr>
                    <td class="p-2"><a href="/students" class="btn btn-lg btn-primary">Display all Students</a></td>
                </tr>
                <tr>
                    <td class="p-2"><a href="/commentsByStudent" class="btn btn-lg btn-primary">Display Comments by Student</a></td>
                </tr>
    
            </table>
        </form>
    </div>
</body>
</html>
